/* mengimpor font robot dari google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* untuk mengatur box-sizing semua element*/
*{
    box-sizing: border-box;
}

/*mengatur margin dan font robot sebagai font default untuk halaman*/
body{
    margin: 40px;
    font-family: "Roboto", sans-serif;
}

/*mengatur gaya untuk element kelas "tabel_himpunan"*/
.tabel_himpunan{
    max-width: 900px;
    border: 1px solid #00b;
    background-color: #efefef33;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}

/*untuk mengatur lebar dan style pada tabel*/
table{
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse ;
}

/*mengatur style thead dalam table*/
table>thead{
    background-color: #00bcd4;
    color: #fff;
}

table>thead th{
    padding: 15px;

}


/*mengatur style untul sel header dan sel data tabel*/
table th,
table td{
    border: 1px solid #00000017;
    padding: 10px 15px;
}


/*mengatur style image dalam sel data*/
table>tbody>tr>td>img{
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
}


/*mengatur span dan style action button mulai dari teks, warna tata letak dll*/
.action_btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.action_btn>a{
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid orange;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.action_btn>a:nth-child(1){
    border-color: #26a69a;
}
.action_btn>a:nth-child(2){
    border-color: red;
}

.action_btn>a:hover{
    box-shadow: 0 3px 8px #0003 ;
}

table>tbody>tr{
    background-color: #fff;
    transition: 0.3s ease-in-out;
}


/*untuk mengatur style baris genap dalam bagian body tabel kaya latar belakang nya*/
table>tbody>tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}

/*untuk mengatur baris saat dihover agar keliatan lebih responsip*/
table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
}